<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_horaire_root"
              name="Rapports"
              groups="hr.group_hr_manager,hr.group_hr_user,employe_hr.group_hr_simple_user"
              sequence="1" />

    <menuitem id="menu_table_master"
              name="Rapports Journaliers"
              parent="menu_horaire_root"
              action="action_daily_report"
              sequence="1" />

    <menuitem id="menu_tables_master"
              name="Rapports de synthèses"
              parent="menu_horaire_root"
              action="action_synthese_report"
              sequence="1" />

</odoo>